#index_title {
	color:#ff0000;
}

 body {
 	background-image:url('../images/index_bg.jpg');
 	background-size:100%;
    background-repeat:no-repeat;
 	background-attachment:fixed;
 	color:#ff0000;
 }
 h3{
 	color :#FFFF00;
 }
 div{
 	color:#FFFF00;
 }